.Style1{font-family: 'ITFDevanagari-Bold','ITF Devanagari';
font-size: 32px; 
font-weight:700; 
margin:0;
color: #644D47;
word-wrap: break-word;}
.Style2{font-family: 'ITFDevanagari-Bold','ITF Devanagari';
font-size: 22px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.Style3{font-family: 'STKaiTi-TC-Bold','Kaiti TC';
font-size: 16px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.Style4{font-family: 'ITFDevanagari-Bold','ITF Devanagari';
font-size: 18px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.Style5{font-family: 'STKaiTi-TC-Bold','Kaiti TC';
font-size: 14px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.Style6{font-family: 'TimesNewRomanPS-BoldItalicMT','Times New Roman',serif;
font-size: 18px; 
font-weight:700; 
font-style: italic;
margin:0;
word-wrap: break-word;}
.Style7{font-family: 'Helvetica',sans-serif;
font-size: 12px; 
margin:0;
word-wrap: break-word;}
.Style8{font-family: 'Arial-ItalicMT','Arial',sans-serif;
font-size: 14px; 
font-style: italic;
margin:0;
word-wrap: break-word;}
a.Style3:visited{color:#000000; text-decoration:underline;}
a.Style3:hover{color:#000000; text-decoration:underline;}
.linkStyle_11{font-family: 'STKaiTi-TC-Bold','Kaiti TC';
font-size: 16px; 
font-weight:700; 
font-style: normal;
color: #000000;
text-decoration: underline; 
/*000#000000#000000#000000*/
word-wrap: break-word;}
a.linkStyle_11:visited{color:#000000; text-decoration:underline;}
a.linkStyle_11:hover{color:#000000; text-decoration:underline;}
.Style14{font-family: 'TimesNewRomanPS-BoldMT','Times New Roman',serif;
font-size: 16px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.Style15{font-family: 'STKaiTi-TC-Bold','Kaiti TC';
font-size: 16px; 
font-weight:700; 
word-wrap: break-word;}
.Style16{font-family: 'TimesNewRomanPS-BoldItalicMT','Times New Roman',serif;
font-size: 20px; 
font-weight:700; 
font-style: italic;
margin:0;
word-wrap: break-word;}
.linkStyle_17{font-family: 'STKaiTi-TC-Bold','Kaiti TC';
font-size: 16px; 
font-weight:700; 
color: #000000;
text-decoration: underline; 
/*000#00F900#000000#000000*/
word-wrap: break-word;}
a.linkStyle_17:visited{color:#000000; text-decoration:underline;}
a.linkStyle_17:hover{color:#000000; text-decoration:underline;}
.linkStyle_20{font-family: 'Arial-ItalicMT','Arial',sans-serif;
font-size: 14px; 
font-style: italic;
color: #000000;
text-decoration: underline; 
/*000#00F900#000000#000000*/
word-wrap: break-word;}
a.linkStyle_20:visited{color:#000000; text-decoration:underline;}
a.linkStyle_20:hover{color:#000000; text-decoration:underline;}
.Style23{font-family: 'Arial-ItalicMT','Arial',sans-serif;
font-size: 14px; 
font-style: italic;
word-wrap: break-word;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale}